{{- $profile := promptStringOnce . "profile" "Profile (personal, work-minimal, work-dev)" "personal" -}}
sourceDir = {{ joinPath .chezmoi.homeDir "dotfiles" | quote }}

[data]
profile = {{ $profile | quote }}
